@import
	url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic")
	;

@import
	url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css")
	;
@CHARSET "UTF-8";



body {
	margin: 40px;
}

.myheader {
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:
		url('http://wallpaperandbackground.com/wp-content/uploads/2014/02/Unique-Beach-Palm-Tree.jpg');
}

#mot {
	margin: 30px 0 0 0;
	clear: both;
	top: 100px;
}

#mot td {
	padding: 10px;
	background-color: #1ee193;
	border: 2px inset black;
	width: 30px;
	height: 30px;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

#mot p {
	visibility: hidden;
}

.alert {
	margin: 20px;
	padding: 20px;
}

form{
	margin : 20px;
		padding: 20px;
	
}

